#page{
    margin:auto;
    width:90%;
}
body{
    font-family: 'Oxygen', sans-serif;
    color:#121619;
    line-height: 1.4em;
    padding:40px;
}
h1, h2{
    font-family: 'Archivo Narrow', sans-serif;
    color:#251F47;
    font-weight: 700;
}
h1{
    text-align:center;
    padding-bottom: 20px;
    font-size:45px;
}
img{
    max-width:100%;
    height:auto;
}
header, footer{
    text-align: center;
}
main{
    background-color: rgba(132, 181, 159, 0.359);
    padding:30px;
}

nav{
    background-color: rgba(132, 181, 159, 0.808);
    font-family: 'Archivo Narrow', sans-serif;
    font-weight: 700;
    font-size: 25px;
    padding:10px;
    margin:auto;

}
nav ul{
    list-style-type: none;

}
nav ul li a{
    text-decoration: none;
    color:#251F47;
    display:block;
    line-height:1.6em;
    padding: 15px;

}

nav ul li a:hover{
    color: #ffff;

}
