#page{
    margin:auto;
    width:90%;
}
body{
    font-family: 'Oxygen', sans-serif;
    color:#121619;
    line-height: 1.4em;
    padding:40px;
}
h1, h2{
    font-family: 'Archivo Narrow', sans-serif;
    color:#251F47
}
h1{
    padding-bottom: 20px;
    font-size:45px;
    font-weight:400;
}
img{
    max-width:100%;
    height:auto;
}
header, footer{
    text-align: center;
}
main{
    background-color: rgba(132, 181, 159, 0.359);
    padding:30px;
}