body{
    padding-top: 10vh;
    margin:auto;
    min-width:800px;
}
input {display: block; margin-bottom: 20px;}
.invisible{display:none}
.visible {
    display: block;
    position: relative;
    float:right;
    top: 50px;
    right:20px;
    width: 500px;
    padding: 20px;
    color: rgb(0, 0, 0);
    background-color: rgb(225, 225, 225);
}

#outside{
    background-color:rgba(255, 255, 255, 0.8);
    width:80%;
    height:80vh;
    padding:20px;
    margin: auto;
    overflow:hidden;
}

img{
    float:right;
    padding:0;
    position:absolute;
    bottom:50px;
    right:110px;
}